if messages.errors
    for error in messages.errors
      .ui.error.message #{error.msg}
        i.close.icon
if messages.info
    for info in messages.info
      .ui.info.message #{info.msg}
        i.close.icon
if messages.success
    for success in messages.success
      .ui.success.message #{success.msg}
        i.close.icon