extends layout

block content
  .ui.inverted.black.vertical.segment
    .ui.page.padded.grid
      .three.column.row
        .ten.wide.column
          //- small info abt top hacker
          .ui.inverted.header Who is Top Hacker?
          p.inverted.
            asasdf asdf sa df asd as<br>
            asdfasd fsa df sa df a sd fasd<br>
            alsdkfjalsdfasdf sadf asd
            asasdf asdf sa df asd as<br>
            asdfasd fsa df sa df a sd fasd<br>
            alsdkfjalsdfasdf sadf asd
            asasdf asdf sa df asd as<br>
              asdfasd fsa df sa df a sd fasd<br>
              alsdkfjalsdfasdf sadf asd
              asasdf asdf sa df asd as<br>
              asdfasd fsa df sa df a sd fasd<br>
              alsdkfjalsdfasdf sadf asd
              asdfasd fsa df sa df a sd fasd<br>
            alsdkfjalsdfasdf sadf asd
            asasdf asdf sa df asd as<br>
              asdfasd fsa df sa df a sd fasd<br>
              alsdkfjalsdfasdf sadf asd
              asasdf asdf sa df asd as<br>
              asdfasd fsa df sa df a sd fasd<br>
              alsdkfjalsdfasdf sadf asd
        .blue.four.wide.column
          .ui.header TopHacker of the week
          .ui.card
              .image
                img(src="/tophacker/stevie.jpg")
              .content
                .ui.header Bhavana
                .ui.description top hacker of the first challenge want to learn??
                .ui.extra.content Topper

  .ui.hidden.divider
  .ui.hidden.divider
  .ui.hidden.divider
  .ui.two.column.vertical.stacked.row
      .ui.centered.huge.header Dive In
        i.icon.smile
  .ui.hidden.divider
  .ui.hidden.divider
  .ui.inverted.green.vertical.segment
    .ui.hidden.divider
    .ui.three.column.centered.grid
        .four.wide.column
          a.ui.vertical.animated.button.primary.very.massive.massive(href="/challenge")
            .visible.content Challenges
            .hidden.content
              i.icon.pointing.up
        .four.wide.column
          a.ui.animated.button.red.massive(href="/challenges")
            .visible.content Practice
            .hidden.content
              i.icon.chevron.circle.right
        .three.wide.column
          a.ui.animated.fade.button.massive(href="/notes")
            .visible.content Notes
            .hidden.content
              i.icon.book
    .ui.hidden.divider